<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Онлайн-кредит(admin)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
</head>
<body>

    <div th:replace="blocks/admin/admin-header :: header"></div>

    <div class="container d-flex flex-column align-self-center">
        <div class="d-flex justify-content-between mx-3 mb-3">
            <h4 class="mt-0">Кредиты</h4>
            <a href="/admin/credits/create">
                <button class="btn btn-outline-dark">Добавить кредит</button>
            </a>
        </div>

        <div th:if="${credits.size()==0}" class="container ms-5 m-10 p-30">
            <p>Список кредитов пуст.</p>
        </div>

        <table th:unless="${credits.size()==0}" class="table align-middle text-center">
            <thead style="background-color: darkgray" class="align-middle">
                <tr>
                    <th scope="col">№</th>

                    <th:block th:replace="blocks/admin/model-table-headers :: credit-for-admin-header"></th:block>

                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="credit : ${credits}">
                    <th scope="row" th:text="${creditStat.index}+1"></th>

                    <th:block th:replace="blocks/admin/model-table-rows :: credit-for-admin-row"></th:block>

                    <td>
                        <div class="d-flex justify-content-around">
                            <a th:href="@{/admin/credits/edit-{id}(id=${credit.getId()})}"
                               class="btn btn-outline-primary">
                                <i class="far fa-edit"></i>
                            </a>
                            <a th:href="@{/admin/credits/delete-{id}(id=${credit.getId()})}"
                               class="btn btn-outline-danger">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="blocks/footer ::footer"></div>

</body>
</html>
