<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Request</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Request</h1>
    <table class="table">
      <thead>
      <tr th:insert="blocks/admin/model-table-headers :: request-header"></tr>
      </thead>
      <tbody>
        <tr th:insert="blocks/admin/model-table-rows :: request-row"></tr>
      </tbody>
    </table>
  </body>
</html>