<th:block th:fragment="user-row">
    <td th:text="${user.getUserDetails().getSurname()}"></td>
    <td th:text="${user.getUserDetails().getName()}"></td>
    <td th:text="${user.getUserDetails().getPatronymic()}"></td>
    <td th:text="${user.getPhone()}"></td>
    <td th:text="${user.getUserDetails().getAge()}"></td>
    <td th:text="${user.getUserDetails().getPassportID()}"></td>
    <td th:text="${user.getEmail()}"></td>
    <td th:text="${user.getUserDetails().getRegDate()}"></td>
    <td th:text="${user.getRole.name()}"></td>
</th:block>

<th:block th:fragment="user-for-admin-row">
    <td th:text="${user.getUserDetails().getSurname()}"></td>
    <td th:text="${user.getUserDetails().getName()}"></td>
    <td th:text="${user.getUserDetails().getPatronymic()}"></td>
    <td th:text="${user.getPhone()}"></td>
    <td th:text="${user.getUserDetails().getAge()}"></td>
    <td th:text="${user.getEmail()}"></td>
    <td th:text="${user.getUserDetails().getRegDate()}"></td>
</th:block>




<th:block th:with="credit=${request.getCreditTermRateVariant().getCredit()}" th:fragment="request-row">
    <td th:text="${request.getId()}"></td>
    <td>
        <a th:href="@{/admin/credits/{id}(id=${credit.getId()})}">
            <div th:text="${credit.getId()}"></div>
        </a>
    </td>
    <td>
        <a th:href="@{/admin/users/{id}(id=${request.getUser.getId()})}">
            <div th:text="${request.getUser().getId()}"></div>
        </a>
    </td>
    <td th:text="${request.getSum()}"></td>
    <td th:text="${request.getCreditTermRateVariant().getTerm()}"></td>
    <td th:text="${request.getCreditTermRateVariant().getRate() + '%'}"></td>
    <td th:text="${request.getDetails().getIncome()}"></td>
    <td th:text="${request.getDetails().getCreditsCount()}"></td>
    <td th:text="${request.getDetails().getCreditsPayments()}"></td>
    <td th:text="${request.getRequestStatus().getTitle()}"></td>
    <td>
        <div th:if="${request.getResponse()}">
            <a th:href="@{/admin/requests/{id}/response(id=${request.getId()})}">
                <div th:text="${request.getResponse().getId()}"></div>
            </a>
        </div>
    </td>
</th:block>




<!--<th:block th:fragment="response-row">-->
<!--    <td th:text="${response.getId()}"></td>-->
<!--    <td th:text="${response.getSum()}"></td>-->
<!--    <td th:text="${response.getDatetime()}"></td>-->
<!--</th:block>-->




<!--<th:block th:fragment="credit-row">-->
<!--    <td th:text="${credit.getId()}"></td>-->
<!--    <td>-->
<!--        <a th:href="@{/admin/banks/{id}(id=${credit.getBank().getId()})}">-->
<!--            <div th:text="${credit.getBank().getName()}"></div>-->
<!--        </a>-->
<!--    </td>-->
<!--    <td th:text="${credit.getCreditType()}"></td>-->
<!--    <td th:text="${credit.getMaxSum()}"></td>-->
<!--    <td>-->
<!--        <a th:href="@{/admin/credits/{id}/variants(id=${credit.getId()})}">-->
<!--            <div>Варианты</div>-->
<!--        </a>-->
<!--    </td>-->
<!--</th:block>-->

<th:block th:fragment="credit-for-admin-row">
    <td th:text="${credit.getId()}"></td>
    <td th:text="${credit.getCreditType()}"></td>
    <td th:text="${credit.getMaxSum()}"></td>
    <td>
        <th:block th:each="variant : ${credit.getCreditTermRateVariants()}">
            <div style="white-space:pre" th:text="${variant.getRate() + ' %    -    ' + variant.getTerm()}"></div>
        </th:block>
    </td>
</th:block>




<!--<th:block th:fragment="bank-row">-->
<!--    <td th:text="${bank.getId()}"></td>-->
<!--    <td th:text="${bank.getName()}"></td>-->
<!--    <td th:text="${bank.getTrustZone()}"></td>-->
<!--    <td>-->
<!--        <a th:href="@{/admin/banks/{id}/addresses-phones(id=${bank.getId()})}">-->
<!--            <div>Подробнее адреса</div>-->
<!--        </a>-->
<!--    </td>-->
<!--</th:block>-->




<!--<th:block th:fragment="creditVariant-row">-->
<!--    <td th:text="${creditVariant.getId()}"></td>-->
<!--    <td th:text="${creditVariant.getTerm()}"></td>-->
<!--    <td th:text="${creditVariant.getRate()}"></td>-->
<!--</th:block>-->




<!--<th:block th:fragment="bankAddresses-row">-->
<!--    <td th:text="${bankAddress.getBank().getName()}"></td>-->
<!--    <td th:text="${bankAddress.getAddress()}"></td>-->
<!--    <td>-->
<!--        <div th:each="phone : ${bankAddress.getPhones()}">-->
<!--            <div th:text="${phone.getPhone()}"></div>-->
<!--        </div>-->
<!--    </td>-->
<!--</th:block>-->