<th:block th:fragment="user-header">
    <th scope="col">ID</th>
    <th scope="col">Фамилия</th>
    <th scope="col">Имя</th>
    <th scope="col">Отчество</th>
    <th scope="col">Телефон</th>
    <th scope="col">Возраст</th>
    <th scope="col">ID паспорта</th>
    <th scope="col">Email</th>
    <th scope="col">Дата регистрации</th>
    <th scope="col">Роль</th>
</th:block>

<th:block th:fragment="user-for-admin-header">
    <th scope="col">Фамилия</th>
    <th scope="col">Имя</th>
    <th scope="col">Отчество</th>
    <th scope="col">Телефон</th>
    <th scope="col">Возраст</th>
    <th scope="col">Email</th>
    <th scope="col">Дата регистрации</th>
</th:block>



<th:block th:fragment="request-header">
    <th scope="col">ID</th>
    <th scope="col">ID кредита</th>
    <th scope="col">ID клиента</th>
    <th scope="col">Сумма</th>
    <th scope="col">Срок</th>
    <th scope="col">Ставка</th>
    <th scope="col">Доходы</th>
    <th scope="col">Кол-во текущих кредитов</th>
    <th scope="col">Выплаты по кредитам</th>
    <th scope="col">Статус</th>
    <th scope="col">ID ответа</th>
</th:block>


<!--???-->
<th:block th:fragment="response-header">
    <th scope="col">ID онлайн-заявки</th>
    <th scope="col">Допустимая сумма</th>
    <th scope="col">Дата ответа</th>
</th:block>



<!--???-->
<th:block th:fragment="credit-header">
    <th scope="col">ID</th>
    <th scope="col">Банк</th>
    <th scope="col">Наименование кредита</th>
    <th scope="col">Максимальная сумма</th>
    <th scope="col">Ставки и термины</th>
</th:block>

<th:block th:fragment="credit-for-admin-header">
    <th scope="col">ID</th>
    <th scope="col">Наименование кредита</th>
    <th scope="col">Максимальная сумма</th>
    <th scope="col">Ставки и термины (соотв.)</th>
</th:block>


<!--???-->
<th:block th:fragment="bank-header">
    <th scope="col">ID</th>
    <th scope="col">Название банка</th>
    <th scope="col">Зона доверия</th>
    <th scope="col">Адреса</th>
</th:block>

<th:block th:fragment="bank-for-admin-header">
    <th scope="col">Название банка</th>
    <th scope="col">Зона доверия</th>
    <th scope="col">Адреса</th>
</th:block>


<!--???-->
<th:block th:fragment="creditVariant-header">
    <th scope="col">ID</th>
    <th scope="col">Срок</th>
    <th scope="col">Ставка</th>
</th:block>


<!--???-->
<th:block th:fragment="bankAddresses-header">
    <th scope="col">Название банка</th>
    <th scope="col">Адрес</th>
    <th scope="col">Телефон</th>
</th:block>