<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>О нас</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="templates/css/about.css">
</head>
<body>
    <div th:insert="blocks/header ::header"></div>
    <div class="container py-3 bg-info">
        <h1 class="text-center">Контактная информация</h1>
        <div class="container m-10 p-30 bg-warning">
            <h5>Адрес:</h5>
            <p>Какойто длинныйооа оаллададжажажа жадлаооаа аааааааааааааа аоооооооо ово омм о   оаааааааа</p>
            <h5>Телефон:</h5>
            <p>64946154151 514551515 15415151515 151451515</p>
            <h5 class="text-center">О нас:</h5>
            <p> sdsnvkndvivmim nviunv wfherufer w fheurfhe eriuheruheru uerhferu erhuif uehiue rhe</p>
            <img src="src/main/resources/templates/images/Contacts.jpg" alt="Happy life"><br>
        </div>
    </div>
    <div th:insert="blocks/footer ::footer"></div>
</body>
</html>