<!DOCTYPE html>
<html lang="en">
<head>
    <title>Online request</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div th:insert="blocks/header ::header"></div>
    <div>Оформление онлайн-заявки</div>
    <form th:action="@{/create-online-request/{id}(id=${credit.getId()})}" method="post"
          th:fragment="online-request-form">
        <div class="mx-3">
            <label>Кредит</label>
            <p class="mb-0" th:text="${credit.getCreditType() + ' (до ' + credit.getMaxSum() + 'бел.руб.'}"></p>

            <label class="mt-1">Ставка и срок</label>
            <select name="creditTermRateVariant" th:id="${'term-rate'+credit.getId()}" class="form-select" required>
                <option value="" disabled selected>Доступные варианты</option>
                <th:block th:each="creditVariants : ${credit.getCreditTermRateVariants()}">
                    <option th:value="${creditVariants.getId()}"
                            th:text="${creditVariants.getRate() + '%  -  ' +
                                        creditVariants.getTerm()}"></option>
                </th:block>
            </select>

            <label class="mt-1">Желаемая сумма</label>
            <div class="input-group">
                <input type="number" class="form-control" name="sum" min="100" step="1" required>
                <span class="input-group-text">бел.руб.</span>
            </div>

            <label class="mt-1">Доходы в месяц</label>
            <div class="input-group">
                <span class="input-group-text"> 0.00</span>
                <input type="number" class="form-control" name="income" min="0" step="0.01" required>
                <span class="input-group-text">бел.руб.</span>
            </div>

            <label class="mt-1">Количество текущих кредитов</label>
            <div class="input-group">
                <input th:id="${'creditsCount'+credit.getId()}" type="number" class="form-control"
                       name="credits-count" min="0" max="10" required>
                <span class="input-group-text" style="white-space:pre"> 0  -  10 </span>
            </div>

            <label class="mt-1">Сумма платежей по кредитам</label>
            <div class="input-group">
                <span class="input-group-text"> 0.00</span>
                <input th:id="${'payments'+credit.getId()}" type="number" class="form-control"
                       name="creditsPayments" min="0" step="0.01" required>
                <span class="input-group-text">бел.руб.</span>
            </div>

            <div class="mx-2 mt-3 mb-3 form-check">
                <input type="checkbox" class="form-check-input" name="agreement">
                <label class="form-check-label">Я согласен(а) на обработку персональных данных</label>
            </div>

            <button type="submit" class="btn btn-outline-dark" onclick="">Отправить заявку</button>
        </div>

        <script>
            function checkCountPayments() {
                if (document.getElementById("creditsCount" + [[${credit.getId()}]]).value === '0') {
                    document.getElementById("payments" + [[${credit.getId()}]]).value = '0';
                    document.getElementById("payments" + [[${credit.getId()}]]).readOnly = true;
                } else {
                    document.getElementById("payments" + [[${credit.getId()}]]).readOnly = false;
                }
            }

            function checkPayments() {
                if (document.getElementById("creditsCount" + [[${credit.getId()}]]).value !== '0'
                    && document.getElementById("payments" + [[${credit.getId()}]]).value === '0') {
                    document.getElementById("payments" + [[${credit.getId()}]]).setCustomValidity('Введите сумму выплат по кредиту(ам)');
                } else {
                    document.getElementById("payments" + [[${credit.getId()}]]).setCustomValidity('');
                }
            }

            document.getElementById("creditsCount" + [[${credit.getId()}]]).onchange = checkPayments;
            document.getElementById("creditsCount" + [[${credit.getId()}]]).onchange = checkCountPayments;
            document.getElementById("payments" + [[${credit.getId()}]]).onchange = checkPayments;
        </script>

    </form>

    <div th:insert="blocks/footer ::footer"></div>
</body>
</html>