<!DOCTYPE html>
<html lang="en">
<head>
    <title>Online request</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div th:insert="blocks/header ::header"></div>
    <form th:action="@{/form-online-request/{id}(id=${credit.getId()})}" method="post">
        <fieldset class="container">
            <legend>Оформление онлайн-заявки</legend>
                <div>
                    <p th:text="'Кредит на' + ${credit.getCreditType()}"></p>
                    <p th:text="'Ставка - ' + ${credit.getRate()} + '%'"></p>
                    <label>Сумма (бел.руб.):</label><br>
                    <input type="number" name="sum" min="100" required><br>
                    <label>Срок:</label><br>
                    <label><input type="radio" name="term-type" value="month" required checked>месяц</label>
                    <label><input type="radio" name="term-type" value="year">год</label><br>
                    <input type="number" name="term" min="1" max="20" required><br>
                    <label>Доходы в месяц (бел.руб.):</label><br>
                    <input type="number" name="income" min="0" required><br>
                    <label>Количество текущих кредитов:</label><br>
                    <input type="number" name="credits-count" min="0" max="10" required><br>
                    <label>Сумма платежей по кредитам (бел.руб.):</label><br>
                    <input type="number" name="payments" min="0" required><br>
                </div>
                <div>
                    <label><input type="checkbox" name="agreement" value="agree" required>Я согласен(а) на обработку персональных данных</label><br>
                    <input type="submit" value="Отправить заявку">
                </div>
        </fieldset>
    </form>
    <div th:insert="blocks/footer ::footer"></div>
</body>
</html>