<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cabinet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div th:insert="blocks/header :: header"></div>
    <div>
        <h1 class="text-center">Личный кабинет</h1>
        <div class="container m-10 p-30 bg-warning">
            <h5 class="text-center" th:text="'Добро пожаловать ' + ${user.getUserDetails().getName()} + ' ' + ${user.getUserDetails().getSurname()}"></h5>
        </div>
        <div th:insert="blocks/user-requests-list :: user-requests-table"></div>
    </div>
    <div th:insert="blocks/footer ::footer"></div>

</body>
</html>