<footer th:fragment="footer">
    <!-- social networks icons link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<!--    <div class="d-flex fixed-bottom flex-wrap justify-content-between align-items-center py-3 my-4 border-top">-->
    <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-3 border-top">
        <div class="col-md-4 d-flex align-items-center mx-4">
            <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex mx-4">
            <li class="ms-3">
                <a class="text-muted" href="https://www.linkedin.com/in/%D1%8E%D0%BB%D0%B8%D1%8F-%D0%B3%D0%BE%D0%BB%D1%83%D0%B1%D0%BE%D0%B2%D0%B8%D1%87-a61830256/">
                    <!-- Linkedin -->
                    <i class="fab fa-linkedin-in fs-3"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-muted" href="https://www.instagram.com/golubovich_yulia/">
                    <!-- Instagram -->
                    <i class="fab fa-instagram fs-3"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-muted" href="https://github.com/YULIYA2001?tab=repositories">
                    <!-- Github -->
                    <i class="fab fa-github fs-3"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>