<!-- Modal window -->
<div th:fragment="modal-window">
    <div class="modal" th:id="${'myModal'+request.getId()}"
         style="display: none; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4);">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 th:text="${modalWindowTitle}" class="modal-title"></h5>
                    <button th:id="${'btnClose'+request.getId()}" th:name="${request.getId()}"
                            type="button" class="btn-close"
                            onclick="closeModal(this.name)"></button>
                </div>
                <div class="modal-body">
                    <div th:replace="~{${modalWindowPath} :: ${modalWindowContent}}"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function callModal(btn_name) {
            var modal = document.getElementById("myModal"+btn_name);
            modal.style.display = "block";
        }
        function closeModal(btn_name) {
            var modal = document.getElementById("myModal"+btn_name);
            modal.style.display = "none";
        }
    </script>
</div>

<!-- Button to call modal window -->
<div th:fragment="modal-window-call-btn">
    <button th:id="${'myBtn'+request.getId()}" th:name="${request.getId()}"
            type="button" class="btn btn-primary" th:text="${modalWindowBtnText}"
            onclick="callModal(this.name)"></button>
</div>